
a {
  color: inherit;
  text-decoration: none;
  background-color: #fff;
}

.buttonUnderlineSt {
  cursor: pointer;
  display: inline-block;
  text-align: center;
  text-decoration: none;
  outline: none;
  color: #222;
  border-radius: 20px;
  border:1px solid #1B85FB;
  background-color: #fff;
  -webkit-transition: all .3s;
  transition: all .3s;
  margin: auto;
  padding: 10px 15px;
  box-shadow: 0 0 5px 0 rgba(0, 0, 0, .5);
}

.buttonUnderlineSt:hover {
  color: #fff;
  border:1px solid #1B85FB;
  background-color: #1B85FB;
}

.buttonUnderlineSt:active {
  transform: scale(0.9);
  box-shadow: 0 0 0px 0 rgba(0, 0, 0, .5);
}

.products {
  border: #222 solid 2px;
}

.QR-product-Num {
  display: flex;
}

.products-window {
  display: flex;
  flex-direction: column; /* 縦方向のレイアウト */
  gap: 15px; /* 要素間の隙間を指定 */
  width: 100%; /* 横幅調整 */
}



.QR-product-inputNum {
  margin-left: 10px;
  width: 40px;
} 


.products div {
  border-collapse: collapse;
  margin: 10px;
  white-space: nowrap;
  border: 1px solid #222; /* 境界線 */
  padding: 8px;           /* セルの内側に余白 */
}




